* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body{
  padding-top: 60px ;
}
input{
  text-align: start;
}
#gameBoard {
  display:grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  gap: 10px;
  padding: 50px;
  justify-content: center;
 
  }
  .square{
    border: 1px black solid;
    text-align: center;
    padding: 20px;
  }
